name: CICD Pipeline V

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v4
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: ${{ secrets.AWS_REGION }}

    - name: Login to Amazon ECR
      run: |
        aws ecr get-login-password --region "$AWS_REGION" \
          | docker login --username AWS --password-stdin "${{ secrets.ECR_REGISTRY }}"

    - name: Build & Push Docker Image
      run: |

        docker build -f inference-server/inference.dockerfile -t "${{ secrets.ECR_REPOSITORY }}" .
        docker tag "${{ secrets.ECR_REPOSITORY }}:latest" \
          "${{ secrets.ECR_REGISTRY }}/${{ secrets.ECR_REPOSITORY }}:latest"
        docker push "${{ secrets.ECR_REGISTRY }}/${{ secrets.ECR_REPOSITORY }}:latest"

    - name: Deploy on EC2
      uses: appleboy/ssh-action@v1.0.3
      env:
        AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
        AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        AWS_REGION: ${{ secrets.AWS_REGION }}
        ECR_REGISTRY: ${{ secrets.ECR_REGISTRY }}
        ECR_REPOSITORY: ${{ secrets.ECR_REPOSITORY }}
      with:
        host: ${{ secrets.EC2_HOST }}
        username: ${{ secrets.EC2_USER }}
        key: ${{ secrets.EC2_SSH_KEY }}
        port: 22
        envs: AWS_ACCESS_KEY_ID,AWS_SECRET_ACCESS_KEY,AWS_REGION,ECR_REGISTRY,ECR_REPOSITORY
        script: |
          set -e

          echo "Logging into ECR..."
          aws ecr get-login-password --region "$AWS_REGION" \
            | docker login --username AWS --password-stdin "$ECR_REGISTRY"

          echo "Stopping old container..."
          docker stop loanpayback || true
          docker rm -f loanpayback || true

          echo "Cleaning up images..."
          docker image prune -a -f
          docker builder prune -f

          echo "Pulling latest image..."
          docker pull "$ECR_REGISTRY/$ECR_REPOSITORY:latest"

          echo "Starting container..."
          docker run -d \
            -p 80:8000 \
            --name loanpayback \
            "$ECR_REGISTRY/$ECR_REPOSITORY:latest"
